html {
    scroll-behavior: smooth;
    scroll-margin-top: 200px;
}
body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #053d6c;
}
.barra {
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.gabriel {
    margin-left: 100px;
    margin-right: 300px;
    height: 40px;
}

.lista {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    width: 900px;
    gap: 50px;
    margin-right: 0;
    margin-left: 200px;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
    color: #E00420;
    font-size: 25px;
    transition: all 0.0s;
}

.linha:hover {
    color: #3498db;
}

.foto img {
    border-radius: 100%;

}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 50px;
}

.cards {
    scroll-margin-top: 150px;
    margin-top: 100px;
    background-color: #dfe2e4;
    height: 600px;
    width: 80vw;
    border-radius: 15px;
    box-shadow: 0px 10px#737a80;
    transition: all 0.2s ease;
}

.prazer {   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 60px;
    background-color: #dfe2e4;
    height: 600px;
    width: 60vw;
    border-radius: 15px;
    box-shadow: -10px 0px #737a80;
    transition: all 0.2s ease;
    scroll-margin-top: 50px;
}

.cards:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px black;
}

.sobre{
    display: flex;
    align-items: center;
    gap: 200px;
    scroll-margin-top: 200px;
}

.sobre h1{
    width: 80%;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
    
}

.sobre p{
    margin-left: 50px;
    width: 450px;
    font-size: 25px;
}

.box1 {
    height: 90%;
    width: 40%;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.img1 {
    height: 500px;
    width: 500px;
    border-radius: 10px;
    border: 3px solid #053d6c;
}

.linha a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.linha a:hover {
    text-decoration: none;
}

.jornada {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 200px;
    min-height: 600px;
    scroll-margin-top: 200px;
}

.box2 {
    height: 90%;
    width: 40%;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.jornada h1 {
    width: 80%;
    margin-left: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    scroll-margin-top: 200px;
}

.jornada p {
    margin-left: 50px;
    font-size: 20px;
    width: 450px;
}

.pessoal {
    display: flex;
    align-items: center;
    gap: 200px;
}

.pessoal h1 {
    width: 80%;
    margin-left: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.pessoal p{
    margin-left: 50px;
    width: 450px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 20vh;
    width: 100vw;
    background-color: #31343a;
    margin-top: 200px;
    left: 0px;
    right: 0px;
}